/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/*  
.error-section {
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items:center;
  text-align:center;
  background-color: #ffffff;
  color:var(--buttonColor);



}
.loader-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loader {
  --r1:154%;
  --r2: 68.5% ;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
var(--r1)var(--r2)at top,
#0000 79.5%,
#269af2 80%
),
}



.section-whyy--choose.grid {
  gap:1.4rem;
} */

/* .section-whyy--choose .text-align--right .why-choose-div {
  align-items:flex-start;
}

.section-whyy--choose .choose-left-div {
  text-align:left;
}


.section-contact--homepage .btn {
  display: block;
  text-align: left;
}

.section-contact--homepage .btn {
  display: block;
  text-align: center;
}

:is(.section-contact--homepage) .container:first-child {
  padding:6.4rem 0rem 2.4rem;
}


::placeholder {
  font-family:Urbanist, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.section-navbar .navbar ul li .active {
  color:#535bf2;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
}


html {
  font-size: 56.25%;

}
.section-hero img {
  width: 90%;
}
@media (width < 1220px) {
  html {
    font-size: 54%;
  }
  :is(
    .sction-about,
    .section-log,
    .section-cource.section-contact--homepage,
    .section-why--choose
  )
  .grid {
    gap:6.4rem;
  }
} */

/* body {
  background-color: #17202a;
}

html {
  font-size:62.5%;
  font-family: "urbanist";
}
p,
a,
li,
input {
  font-size:1.6rem;
  letter-spacing: 0.12rem;
  line-height: 1.5;
  color:#fff;
}

button {

  padding:0.8rem 3.2rem;
  border-radius: 0.3rem;
}


.section-form {
  padding: 1.6rem;
  background-color: #212f3d;
  border-radius: 0.6rem;
  -webkit-border-radius:0.6ram;
  -moz-border-radius:0.6ram;
  -ms-border-radius:0.6rem;
  -o-border-radius:0.6ram;
  margin:3.2rem auto;
  
  from {
    display: flex;
    gap:1.2rem;
  }
} */
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "urbanist";
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

li {
  list-style: none;
}

a {
  color: #000;
  &:hover {
    color: #2e86c1;
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
}
header {
  height: 10rem;
  box-shadow: rgba(33, 3, 38, 0.1) 0px 10px 10px -10px;
  background-color: #d4e6f1;
  width: 100%;
}

.container {
  max-width: 132rem;
  margin: auto;
  height: 10rem;
}
.grid {
  display: grid;
}

.navbar-grid {
  grid-template-columns: 5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  /* background-color: yellow; */
  /* gap: 3.2rem;
}

.ham-menu {
  display: none;
}

/* media queris */
/* 
@media screen and (max-width: 99px) {
  .menu-web {
    display: none;
  }

  .hum-menu {
    display: inline-block;
    /* justify-content: flex-end; */
    /* text-align: end;
  }

  .menu-mobile {
    position: absolute;
    top: 10rem;
    left :0;
    background-color: #fff;
    width: 100%;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  & li:first-child {
    margin-top: 1.2rem;
  }
  
  & li:last-child{
 margin-bottom: 1.2rem;
  }
  
  } */
/* } */













*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--bg-color:#202020;
}

html {
 font-size: 62.5%;
 font-family: "urbanist"; 
}

body {
  background-color: black;
}
 h1,
 h2,
 h3,
 h4,
 h5 {
  color: #fff;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}


li {
  list-style:none;

}

a {
  color: #000;


&:hover {
  color: #2e86c1;
}
}
button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform:unset ;
  transition:all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  background-redius:1.5rem;
  border-width: 0.1rem;
  border-style:solid;

}
container {
  max-width: 140rem;
  margin: auto;
}
.grid {
  display: grid;
}


.grid-two-cols {
  grid-template-columns:repeat (2,1fr);
}


.grid-three-cols {
grid-template-columns: repeat(3  , 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4  ,1fr);
  }
  


header 
{
  height: 10rem;
  box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px;
  background-color: #202020;
  width: 100%;

  &.container {
    height: 10rem;
  }
}

.navbar-grid {
grid-template-columns: 0 5fr 1fr;
align-items: center;
height: 10rem;
padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
}








